body{
width: 100%;
}
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html, body {
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
        font-weight: 400;
        font-size: 16px;
        color: #2c3e50;
      }

      .center-text {
        text-align: center;
      }

      main {
        margin-top: 100px;
        padding: 20px;
      }

      img.logo {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        margin-bottom: 30px;
      }

      h2 {
        font-size: 2em;
        font-weight: 100;
      }

      footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
      }

      footer p {
        font-weight: 300;
        font-size: 1.0em;
      }

      a {
        color: #3cf;
        text-decoration: none;
      }

      a:hover,
      a:focus {
        color: #3cf;
      }

.cart-book{
  display: grid;
  grid-template-columns: min-content auto min-content 100px;
}
.removeBtn{
  grid-column: 1/2;
}
.cart-book-name{
  grid-column: 2/3;
}
.qty{
  grid-column: 3/4;
}
.cart-book-price{
  grid-column: 4/5;
}
.book{
height: 300px;
}
.book-summary {
height:70px
}
.order-action{
  align-items: end;
}
.shoppingcart{
  z-index: 1;
  height: 100vh;
  width: 100%;
  position:fixed;
  top:0;
  right: 0;
}
input[type=number]{
    width:3rem;
}

@media screen and (min-width: 700px) {
  .shoppingcart{
    width: 35%;
  }
}
